.ql-snow {
  &.ql-toolbar {
    .ql-formats {
      button {
        &.ql-small-caps {
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("http://cdn.onlinewebfonts.com/svg/img_447313.png");
        }
        &.ql-wide-image {
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("https://cdn0.iconfinder.com/data/icons/software-tool-set-3/28/software-tool-set-3007-512.png");
        }
      }
    }
  }
  .ql-editor {
    height: 400px;
  }
}
