@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Intro";
  font-display: block;
  src: url("@/assets/fonts/IntroDemoCond-LightCAPS.woff") format("woff");
}

.ql-snow {
  &.ql-toolbar {
    .ql-formats {
      button {
        &.ql-small-caps {
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("http://cdn.onlinewebfonts.com/svg/img_447313.png");
        }
        &.ql-wide-image {
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("https://cdn0.iconfinder.com/data/icons/software-tool-set-3/28/software-tool-set-3007-512.png");
        }
      }
    }
  }
  .ql-editor {
    height: 400px;

    h1 {
      font-family: "Intro";
      margin-bottom: 1rem;
    }

    h2 {
      font-family: "Poppins";
      font-weight: normal;
      font-size: 1.333rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-family: "Poppins";
      margin-bottom: 0.5rem;
    }
  }
}
